<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vendor Access</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>{{appType}}</h1>
    <form method="post" action="/" >
      <input type="text" id="item" placeholder="Item" name="item"><br />
      <input type="text" id="description" placeholder="Item Description" name="description"><br />
      <input type="number" id="quantity" placeholder="Quantity" name="quantity"><br/ >
      <input type="time" id="purchase_time" placeholder="Purchase Time" name="purchase_time"><br/ >
      <input type="number" id="item_price" placeholder="Item Price (In Cents)" name="item_price"><br/ >
      <button type="submit" id="submit">Submit Item</button>
    </form>
</body>
</html>
