<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>What's in the machine?</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Things in the machine:</h1>
    <div><a href="/add">Add Item</a></div>
    <ul>
      {{#item}}
        <li>
          {{item}}
        </li>
      {{/item}}
    </ul>
</body>
</html>
